<!doctype html>
<html>

<head>
  <title>jQuery/AJAX Demo</title>
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>

  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="News">
            <p>
              Your News headline <b>News</b>.
              <!-- Article: <b id="article-title">(not yet known)</b> -->
              Article: 
              <div id="article-title"></div>
            </p>
            
        </div>

        <input type="hidden" id="dani" value="Mpx">

        <button id="office-id"> Forecast</button>
        <script src="/static/js/news.js"></script>
        <script src="/static/js/forecast.js"></script>

    </div>
</body>
</html>