{% extends 'base.html' %}
{% block title %} Weather Forecast {% endblock %} 
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" 
integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
crossorigin="anonymous"></script>
{% endblock %}


{% block body %}

<div class="container">
    <div class="row search-box">
        <div class="col">
            <form action="/forecast_search" class="city-state">
                <p>
                    Enter a City <input type="text" name= "city" value=""> 
                </p>
                <p>
                    State <select name="state">
                        {% for state in state_code %}
                            <option value="{{state['Code']}}">{{state['State']}}</option>
                        {% endfor %}
                    </select>
                </p><br>
                
                <input type="submit" value="Show Forecast">
            </form>

        </div>

        <div class="News"> 
            
                <input type = "hidden" value = "{{forecast_id}}" id="office-id">
              
                
                <button id="news-button" >News</button>
            
            <div id="article"></div>
        </div>
    </div>

    <div>
        Your local forecast office is
        {{office_name}}
        

    </div>
    <div>{{city}}, {{state}} </div>
    <div>
       
        <label id="forecast-office">Top</label>
        
         

    </div>

    <div class="row days-forecast">
        {% if (forecast['properties']['periods'][0]['name']) == 'Today' or (forecast['properties']['periods'][0]['name']) == 'This Afternoon' %}
           

           {% for i  in range(0,13,2)%}
            
            <div class="col">
                
                <div class="row forecast_date">{{forecast['properties']['periods'][i]['name']}} </div>
                <div class="row short-forecast">{{forecast['properties']['periods'][i]['shortForecast']}}</div>
                <div class="row"><img src="{{forecast['properties']['periods'][i]['icon']}}"></div>
                <div class="row forecast_date">{{forecast['properties']['periods'][i+1]['name']}} </div>
                <div class="row"><img src="{{forecast['properties']['periods'][i+1]['icon']}}"></div>
                <div class="row short-forecast">{{forecast['properties']['periods'][i+1]['shortForecast']}}</div>
                <div class="row">{{forecast['properties']['periods'][i]['temperature']}} &deg;F</div>
                <div class="row">{{forecast['properties']['periods'][i+1]['temperature']}} &deg;F</div>
                
                
            </div>
            
            {% endfor %}
    
    
        {% else %}

            <div class="col">
                <div class="row forecast_date">{{forecast['properties']['periods'][0]['name']}} </div>
                <div class="row short-forecast">{{forecast['properties']['periods'][0]['shortForecast']}}</div>
                <div class="row"><img src="{{forecast['properties']['periods'][0]['icon']}}"></div>
                <div class="row">{{forecast['properties']['periods'][0]['temperature']}} &deg;F</div>

            </div>

        
            {% for i  in range(1,12,2)%}
                
                
                <div class="col">
                    
                    <div class="row forecast_date">{{forecast['properties']['periods'][i]['name']}} </div>
                    <div class="row short-forecast">{{forecast['properties']['periods'][i]['shortForecast']}}</div>
                    <div class="row"><img src="{{forecast['properties']['periods'][i]['icon']}}"></div>
                    <div class="row forecast_date">{{forecast['properties']['periods'][i+1]['name']}} </div>
                    <div class="row"><img src="{{forecast['properties']['periods'][i+1]['icon']}}"></div>
                    <div class="row short-forecast">{{forecast['properties']['periods'][i+1]['shortForecast']}}</div>
                    <div class="row">{{forecast['properties']['periods'][i]['temperature']}} &deg;F</div>
                    <div class="row">{{forecast['properties']['periods'][i+1]['temperature']}} &deg;F</div>
                    
                </div>

                
            {% endfor %}
            <div class="col">
                <div class="row forecast_date">{{forecast['properties']['periods'][13]['name']}} </div>
                <div class="row short-forecast">{{forecast['properties']['periods'][13]['shortForecast']}}</div>
                <div class="row"><img src="{{forecast['properties']['periods'][13]['icon']}}"></div>
                <div class="row">{{forecast['properties']['periods'][13]['temperature']}} &deg;F</div>

            </div>
        
        {% endif %}
    </div>

    <div><a href="/offices">Show Weather Forecast Offices</div></a>
    <a href="javascript:void(0)" onclick="hourlyForecast()">Hourly Weather Forecast</a>
    <a href="javascript:void(0)" id="hourly-forecast-link"> Beti</a>
    <button id="dani">Dani</button>

    <div id="table-forecast"></div>
    <canvas id="forecast-chart"></canvas>

    <script src="/static/js/forecast.js"></script>
    
    <button id="forecast-hourly" >Hourly Forecast</button>

    <script src="/static/js/forecast.js"></script>

    <div id="hourly-forecast"></div>

    
   
     
      <script src="/static/js/forecast.js"></script>
    </div>










</div>















{% endblock %}